:root {
	--font-family: "Inter", sans-serif;
	--second-family: "Poppins", sans-serif;
	--third-family: "Sansita Swashed", sans-serif;
}
body {
	font-family: var(--font-family);
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	letter-spacing: 0.02em;
	max-width: 1280px;
	margin: 0 auto;
}
img {
	display: block;
	height: auto;
	min-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
a, ul, p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	letter-spacing: 0.02em;
	color: currentColor;
}
a, button {
	font-family: inherit;
}
ul {
	list-style-type: none;
}
.visually-hidden
{
		position: absolute;
		white-space: nowrap;
		width: 1px;
		height: 1px;
		overflow: hidden;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		clip-path: inset(100%);
		margin: -1px;
}
/* header */
		body {
			padding-top: 19px;
		}
	
		.container {
			padding: 0 20px;
	
		}
		.top-nav{
			display: none;
		}
		nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	   }
	  
		.b-menu{
		display: block;
		padding: 10px;
		text-align: end;
		background-color: #e9bd8c;
		border-radius: 50%;
	   }
	   .burger-bottom{
	   	display: block;
	   }
		.container-sweet {
	   background-image: url(images/rectangle.jpg);
	   width: 100%;
	   height: 400px;
	   margin-top: -120px;
	   padding-top: 200px;
   }
	.delicious{
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		color: #e9bd8c;
		margin: 0;
		margin-bottom: -10px;
	}
	h1{
		font-family: var(--third-family);
		font-weight: 400;
		font-size: 50px;
		color: #f5f5f5;
		max-width: 424px;
		line-height: 1.3;
		margin-bottom: 101px;
	}
	.shop-now{
		border: 1px solid #000;
		border-radius: 8px;
		padding: 18px 38px;
		width: 194px;
		height: 65px;
		background-color: #933c24;
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		color: #f5f5f5;
		margin-right: 19px;
		cursor: pointer;
		transition: 0.3s ease-in-out;
	}


	.shop-now:hover{
		background-color: #4d3c28;
		color: #e9bd8c;
	}
	.learn-more{
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		color: #e9bd8c;
		transition: 0.3s ease-in-out;
	}
	.learn-more:hover{
		color: #f5f5f5;
	}
	.all-sections {
	padding: 50px 0;
}
.general-title {
	font-family: var(--third-family);
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	color: #111;
	margin-bottom: 50px;
	text-transform: capitalize;
}

.products-cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.product-card {
	background-image: url(/images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 13px 0 38px;
	border-radius: 8px;
}

.picture-food {
	width: 226px;
	height: 223px;
	margin: 0 auto;
	margin-bottom: 17px;

}

.picture-food-one {
	width: 300px;
}

.picture-food img {
	width: 100%;
}

.price {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 24px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	margin: 0 29px 47px;
}

.picture-eat {
	width: 39px;
	height: 39px;
}

.dollars {
	margin: 0;
}

.title-eat {
	display: flex;
	justify-content: space-between;
	margin: 0 29px;
}

.title-name {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	max-width: 147px;
	margin: 0;
}

.title-eat button {
	border-radius: 4px;
	padding: 8px 12px;
	width: 71px;
	height: 49px;
	background: #933c24;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	margin: auto 0;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.title-eat button:hover {
	background-color: #4d3c28;
	color: #e9bd8c;
}
.first-order {
	background-image: url(/images/first_order.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0;
}

.first-order-of {
	max-width: 343px;
	margin: 0 auto;
	align-items: center;
}

.first-order-item {
	font-family: var(--third-family);
	font-weight: 500;
	font-size: 48px;
	text-align: center;
	color: #933c24;
	margin-bottom: 37px;
	line-height: 1.2;
}

.first-order-text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	color: #5d5d5d;
	margin: 0;
	margin-bottom: 37px;
	line-height: 1.1;
}

.first-order-of .first-order-button {
	border-radius: 10px;
	padding: 15px 35px;
	width: 202px;
	height: 63px;
	display: block;
	margin: 0 auto;

}

.products-photo {
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 121px;
}

.products-photo-list {
	display: flex;
	flex-direction: row;
	gap: 40px;
	max-width: 698px;
	margin: 0 auto;
}

.products-photo-link {
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 24px;
	color: #5d5d5d;
	position: relative;

}

.products-photo-link:focus::before {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	bottom: -5px;
	border-radius: 20px;
	width: 100%;
	height: 6px;
	background-color: #933c24;
	transition: 0.3s ease-in-out;
}

.products-photo-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;

}

.products-photo-card {
	background-repeat: no-repeat;
	background-size: cover;
	flex-basis: calc((100% - 2 * 20px) / 3);
	height: 350px;
	border-radius: 8px;
}

.mafin {
	background-image: url(/images/cupcake.png);
}

.cake {
	background-image: url(/images/tort.png);
}

.peace-cake {
	background-image: url(/images/peace-tort.png);
}

.bread {
	background-image: url(/images/bread.png);
}

.peace-cake-two {
	background-image: url(/images/tort-peace.png);
}

.mafin-two {
	background-image: url(/images/mafin.png);
}
@media screen and (min-width: 1200px) {
		.container {
			padding: 0 81px;
	
		}
	.top-nav {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			align-self: center;
		}

	.top-nav-link{
		display: block;
		padding: 10px;
		font-family: var(--second-family);
		font-weight: 600;
		font-size: 22px;
		color: #f5f5f5;
		transition: 0.3s ease-in-out;
		text-transform: capitalize;
	}
	.top-nav-link:hover{
		color: #e9bd8c;
	}
   
.delicious {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 24px;
	color: #e9bd8c;
	margin: 0;
	margin-bottom: -10px;
}

h1 {
	font-family: var(--third-family);
	font-weight: 400;
	font-size: 74px;
	color: #f5f5f5;
	max-width: 424px;
	line-height: 1.3;
	margin-bottom: 101px;
}

.shop-now {

	font-size: 24px;
}
	.learn-more{
		font-size: 24px;
		
	}
.all-sections {
	padding: 130px 0;
}
	.container-sweet {
	   height: 535px;
   }

.general-title {
	margin-bottom: 130px;
}

.products-cards {
	flex-direction: row;
}
.product-card {
	flex-basis: calc((100% - 2*20px)/3);
}






	.about-us{
		background-image: url(/images/about-us.jpg);
		height: 454px;
		
	}
	.about-us-block{
		margin: 0 auto;
		padding: 82px 0;
		max-width: 343px;
		text-align: center;
	}
	.about-us-item{
		font-family: var(--third-family);
		font-weight: 600;
		font-size: 48px;
		color: #f5f5f5;
	}
	.about-us-text{
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 24px;
		text-align: center;
		color: #b9b9b9;
	}
	.about-us-button{
		width: 205px;
	}
	.featured-price{
		padding: 0 31px;
		display: flex;
		justify-content: space-between;
		margin-top: 365px;
		
	}
	.featured-price-name, .featured-price-doll{
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 32px;
		color: #000;
		text-transform: capitalize;
	}
	.featured-section{
		padding-bottom: 200px;
	}
	
	.puff{
		background-image: url(/images/puff.png);
	}
	.doughnuts{
		background-image: url(/images/doughnuts.png);
	}
	.brownies{
		background-image: url(/images/brownies.png);
	}
	footer {
		padding: 30px 0 30px;
		background-image: url(/images/footer.jpg);
		background-repeat: no-repeat;
	}
	.footer-social{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 2px solid rgba(233, 189, 141, 0.2);
		margin-bottom: 52px;
	}
	.footer-social-item{
		display: flex;
		align-items: center;
	}
	.footer-social-icons{
		display: flex;
		gap: 24px;
		margin-right: 144px;
	}
	.folow{
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 24px;
		color: #e9bd8d;
		margin-right: 44px;
	}
	.facebook{
		fill: #E9BD8C;
		transition: 0.3s ease-in-out;
	}
	.facebook:hover{
		fill: #fff;
	}
	.footer-contact{
		display: flex;
		justify-content: space-between;
		gap: 40px;
		margin-bottom: 60px;
	}
	.footer-contact-info{
		flex-basis: calc((100% - 2 * 40px) / 3);
	}
	.footer-contact-info h4{
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 36px;
		color: #e9bd8d;
		margin-bottom: 38px;
	}
	.footer-adress{
		font-family: var(--second-family);
		font-weight: 600;
		font-size: 24px;
		color: #f5f5f5;
		line-height: 2;
	}
	.footer-contact-info a {
		display: block;
	}
	.footer-contact-info a:hover{
		color: #e9bd8d;
	}
	.footer-top-nav{
		flex-direction: column;
		gap: 0;
		font-weight: 600;
		font-size: 24px;
	}
	.footer-top-nav a{
		font-weight: 600;
		font-size: 24px;
	}
	.top-nav-link {
		padding-top: 0;
		padding-bottom: 14px;
	}
	.recent-image {
		border-radius: 2px;
		width: 100px;
		height: 67px;
		margin-right: 20px;
	}
	.recent-image-one{
		background-image: url(/images/footer_1.png);
	}
	.recent-image-two{
		background-image: url(/images/footer_2.png);
	}
	.recent-news{
		display: flex;
	}
	.recent-news-text{
		display: flex;
		flex-direction: column;
	}
	.recent-data{
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 18px;
		color: #e9bd8c;
	}
	.recent-name{
		font-family: var(--second-family);
		font-weight: 500;
		font-size: 24px;
		color: #f5f5f5;
	}
	.recent-news:first-child{
		margin-bottom: 25px;
	}
	.corporation{
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 24px;
		color: #737373;
		margin: 0 auto;
		max-width: 458px;
	}
}
